<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "../template/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 打印SQL语句到控制台 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="StudentBean" type="com.example.studentdemo.entity.Student" />
        <typeAlias alias="ClassBean" type="com.example.studentdemo.entity.Banji" />
        <typeAlias alias="CourseBean" type="com.example.studentdemo.entity.Course" />


    </typeAliases>

</configuration>